@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #f66c02;
    padding-top: 20px;
  }
header {
    text-align: center;
}
main {
    text-align: center;
    margin-top: 40px;;
}
  
.by {
    font-size: 0.8rem;
    position: relative;
    margin-top: -60px;
    color: #57363b;
    text-shadow: 0px 0px 3px ;
}

header img {
    width: 200px;
    border-radius: 50%;
}

input, select, textarea {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px #57363b;
    border: 1px solid #57363b;
}

input:hover, input:focus {
    background: #fdfdfd;
    border: 1px solid #f66c02;
}

input.btnsuccess {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    cursor: pointer;
}
input.btndanger {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
    cursor: pointer;
}

.agendamento input {
    display: inline-block;
    width: 100px;
}

fieldset {
    align-items: center;
    padding: 10px;
    border: 1px solid #FFF;
}

legend {
    text-align: center;
    font-size: 1.2rem;
}

.container{
    padding: 0 20%;
}


